@model SchoolSystem.DAL.DataTransferObjects.TestAttemptTransferObject
@{
    ViewData["Title"] = "Course Section Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">@Model.TestName</h1>
            @if (Model.Deadline == null)
            {
                <p class="text-center">This quiz do not have deadline</p>
            }
            else
            {
                <p class="text-center">This quiz closed on @Model.Deadline</p>
            }
            <p class="text-center">Time limit: @Model.TimeLimit mins</p>
            @if (Model.IsCurrentUserMakeTest)
            {
                <p class="text-center">Your Score: @Model.UserScore%</p>
            }
            else
            {
                <div class="text-center">
                    <a class="btn btn-secondary btn-block mx-auto">Attempt</a>
                </div>
            }
        </div>
    </div>
</div>


<div>
    <a class="bi bi-arrow-bar-left" asp-controller="Course" asp-action="CourseSection" asp-route-id="@Model.CourseId">Back to course</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}