@model SchoolSystem.DAL.DataTransferObjects.TestAttemptTransferObject
@{
    ViewData["Title"] = "Test Page";
}

@if (TempData.ContainsKey("Message") && TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">@Model.TestName</h1>
            @if (Model.Deadline == null)
            {
                <p class="text-center">Този тест няма краен срок</p>
            }
            else
            {
                <p class="text-center">Този тест се затваря на @Model.Deadline</p>
            }
            @if (Model.QuestionInTest != 0)
            {
                <p class="text-center">Въпроси: @Model.QuestionInTest </p>
            }
            <p class="text-center">Времетраене на теста: @Model.TimeLimit mins</p>
            @if (Model.IsCurrentUserMakeTest)
            {
                <p class="text-center">Твоят резултат: @Model.UserScore%</p>
            }
            else
            {
                @if (Model.QuestionInTest == 0)
                {
                    <p class="text-center text-danger"> <i class="bi bi-exclamation-octagon"></i> В теста няма добавени въпроси <i class="bi bi-exclamation-octagon"></i></p>
                }
                else
                {
                    if (Model.Deadline?.CompareTo(DateTime.Now) < 0)
                    {
                        if (User.IsInRole("admin") || User.IsInRole("teacher"))
                        {
                            <div class="text-center">
                                <a asp-action="AttemptTest" asp-route-id="@Model.Id" class="btn btn-secondary btn-block mx-auto">Започни</a>
                            </div>
                        }
                        else
                        {
                            <p class="text-center text-danger"> <i class="bi bi-exclamation-octagon"></i> Теста е затоворен <i class="bi bi-exclamation-octagon"></i></p>
                        }
                    }
                    else
                    {
                        <div class="text-center">
                            <a asp-action="AttemptTest" asp-route-id="@Model.Id" class="btn btn-secondary btn-block mx-auto">Започни</a>
                        </div>
                    }

                }
            }
        </div>
    </div>
</div>

@if (User.IsInRole("admin") || User.IsInRole("teacher"))
{
    <div class="text-lg-end">
        <form>
            <a class="btn btn-success btn-block mx-auto" asp-action="EditTest" asp-route-id="@Model.Id">Редактиране</a>
            <a class="btn btn-primary btn-block mx-auto" asp-action="Question" asp-route-id="@Model.Id">Въпроси</a>
            <input type="submit" asp-action="ResultUsers" asp-route-id="@Model.Id" value="Резултати" class="btn btn-secondary" />
            <input type="hidden" name="courseId" value="@Model.CourseId"/>
            <input type="submit" formmethod="post" asp-action="DeleteTest" asp-route-id="@Model.Id" value="Изтриване" class="btn btn-danger" />
        </form>
    </div>
}

<div>
    <a class="bi bi-arrow-bar-left" asp-controller="Course" asp-action="CourseSection" asp-route-id="@Model.CourseId">Обратно към курса</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}