@model SchoolSystem.DAL.DataTransferObjects.ManageUserTransferObject

@{
    ViewData["Title"] = "Details Page";
}

<h1>Подробности</h1>

<div>
    <h4>Потребител</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Първо име
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Презиме
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Електронна поща
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Възраст
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            Адрес
        </dt>
        <dd class="col-sm-10">
            @if (Model.Address != "" && Model.Address != null)
            {
                @Html.DisplayFor(model => model.Address)
            }
            else
            {
                @Html.DisplayName("Не е предоставен адрес")
            }
        </dd>
        <dt class="col-sm-2">
            Телефон
        </dt>
        <dd class="col-sm-10"> 
            @if (Model.Phone != "" && Model.Phone != null)
            {
                @Html.DisplayFor(model => model.Phone)
            }
            else
            {
                @Html.DisplayName("Няма предоставен телефон")
            }
        </dd>
        <dt class="col-sm-2">
            Роля
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUser" asp-route-id="@Model.Id">Редактиране</a> |
    <a asp-action="ChangePassword" asp-route-id="@Model.Id">Нулиране на парола</a> |
    <a asp-action="Index">Обратно към списъка</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}