@model IEnumerable<SchoolSystem.DAL.DataTransferObjects.ManageUserTransferObject>

@{
    ViewData["Title"] = "Manage Users Page";
}

<h1>Страница за управление на потребителите</h1>
<hr>

@if (TempData.ContainsKey("Message") && TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Първо име
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Роля
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.RoleName
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">Редактиране</a> |
                    <a asp-action="DetailsUser" asp-route-id="@user.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}