@model SchoolSystem.DAL.DataTransferObjects.AddUserInCourseTransferObject
@{
    ViewData["Title"] = "Users in Course Page";
}

@if (TempData.ContainsKey("Message") && TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h1>Име на курса: @Model.Course.Name</h1>
<hr>

@if (User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <a asp-action="AddUserInCourse" asp-route-id="@Model.Course.Id" class="bi bi-plus-circle-fill" style="font-size: 20px">
        Добавяне на проребител
    </a>
    <hr>
}

<h1>Всички добавени потребители</h1>
<br>
@if (Model.Users.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Електронна поща
                </th>
                <th>
                    Първо име
                </th>
                <th>
                    Фамилия
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        <form asp-action="RemoveUserFromCourse">
                            <input type="hidden" name="courseId" value="@Model.Course.Id" />
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input type="submit" value="Премахване" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning d-flex align-items-center text-center" role="alert">
        <i class="bi-exclamation-triangle-fill" style="font-size: 5em;"></i>
        <div style="font-size:50px; margin-left: 20px">
            Няма добавени потребители курса!
        </div>
    </div>
}

<div>
    <a class="bi bi-arrow-bar-left" asp-action="Index">Обратно към курсовете</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}